Sentiment_Analysis_of_Tweets.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>a5337c4d-0163-1000-0c58-f35447a63d8c</groupId>
    <name>Sentiment Analysis of Tweets</name>
    <snippet>
        <connections>
            <id>04b8d798-a99f-3879-0000-000000000000</id>
            <parentGroupId>c740f42c-4250-3014-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>c740f42c-4250-3014-0000-000000000000</groupId>
                <id>495c3469-9992-37db-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <source>
                <groupId>40f2c389-66d0-3595-0000-000000000000</groupId>
                <id>f16f843d-053f-384d-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <processGroups>
            <id>40f2c389-66d0-3595-0000-000000000000</id>
            <parentGroupId>c740f42c-4250-3014-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>872e910b-dbbd-3d33-0000-000000000000</id>
                    <parentGroupId>40f2c389-66d0-3595-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>40f2c389-66d0-3595-0000-000000000000</groupId>
                        <id>66bd80f3-b7f0-306d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>40f2c389-66d0-3595-0000-000000000000</groupId>
                        <id>6ffbb1f4-3e29-3270-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d66030da-b1ea-34cb-0000-000000000000</id>
                    <parentGroupId>40f2c389-66d0-3595-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>40f2c389-66d0-3595-0000-000000000000</groupId>
                        <id>ab24b8a2-2045-31c4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>tweet</selectedRelationships>
                    <source>
                        <groupId>40f2c389-66d0-3595-0000-000000000000</groupId>
                        <id>66bd80f3-b7f0-306d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1c24506a-97c7-3121-0000-000000000000</id>
                    <parentGroupId>40f2c389-66d0-3595-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>40f2c389-66d0-3595-0000-000000000000</groupId>
                        <id>f16f843d-053f-384d-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>40f2c389-66d0-3595-0000-000000000000</groupId>
                        <id>ab24b8a2-2045-31c4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6c7a35ea-f39d-3d9a-0000-000000000000</id>
                    <parentGroupId>40f2c389-66d0-3595-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>40f2c389-66d0-3595-0000-000000000000</groupId>
                        <id>6ffbb1f4-3e29-3270-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>40f2c389-66d0-3595-0000-000000000000</groupId>
                        <id>d045ba76-3f79-3671-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <outputPorts>
                    <id>f16f843d-053f-384d-0000-000000000000</id>
                    <parentGroupId>40f2c389-66d0-3595-0000-000000000000</parentGroupId>
                    <position>
                        <x>1471.6619810927796</x>
                        <y>345.79669999736154</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>out tweet</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>ab24b8a2-2045-31c4-0000-000000000000</id>
                    <parentGroupId>40f2c389-66d0-3595-0000-000000000000</parentGroupId>
                    <position>
                        <x>1422.510392963798</x>
                        <y>549.338496692206</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.6.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>tweet2</key>
<value>
    <name>tweet2</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>json</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>tweet2</key>
<value>$.text</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>d045ba76-3f79-3671-0000-000000000000</id>
                    <parentGroupId>40f2c389-66d0-3595-0000-000000000000</parentGroupId>
                    <position>
                        <x>860.4612245245405</x>
                        <y>28.820427520174064</y>
                    </position>
                    <bundle>
                        <artifact>nifi-social-media-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.6.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Consumer Key</key>
<value>
    <name>Consumer Key</name>
</value>
                            </entry>
                            <entry>
<key>Consumer Secret</key>
<value>
    <name>Consumer Secret</name>
</value>
                            </entry>
                            <entry>
<key>Access Token</key>
<value>
    <name>Access Token</name>
</value>
                            </entry>
                            <entry>
<key>Languages</key>
<value>
    <name>Languages</name>
</value>
                            </entry>
                            <entry>
<key>IDs to Follow</key>
<value>
    <name>IDs to Follow</name>
</value>
                            </entry>
                            <entry>
<key>Twitter Endpoint</key>
<value>
    <name>Twitter Endpoint</name>
</value>
                            </entry>
                            <entry>
<key>Locations to Filter On</key>
<value>
    <name>Locations to Filter On</name>
</value>
                            </entry>
                            <entry>
<key>Terms to Filter On</key>
<value>
    <name>Terms to Filter On</name>
</value>
                            </entry>
                            <entry>
<key>Access Token Secret</key>
<value>
    <name>Access Token Secret</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Consumer Key</key>
<value>H8SNcyqZSBlW3W2dJI48JEKko</value>
                            </entry>
                            <entry>
<key>Consumer Secret</key>
                            </entry>
                            <entry>
<key>Access Token</key>
<value>1157534126-Svhwa1WPdonZmtYzhSpvdkjX942EiVhBm2gZpZj</value>
                            </entry>
                            <entry>
<key>Languages</key>
                            </entry>
                            <entry>
<key>IDs to Follow</key>
                            </entry>
                            <entry>
<key>Twitter Endpoint</key>
<value>Sample Endpoint</value>
                            </entry>
                            <entry>
<key>Locations to Filter On</key>
                            </entry>
                            <entry>
<key>Terms to Filter On</key>
                            </entry>
                            <entry>
<key>Access Token Secret</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>GetTwitter</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.twitter.GetTwitter</type>
                </processors>
                <processors>
                    <id>66bd80f3-b7f0-306d-0000-000000000000</id>
                    <parentGroupId>40f2c389-66d0-3595-0000-000000000000</parentGroupId>
                    <position>
                        <x>869.9501286093139</x>
                        <y>567.309555797958</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.6.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>tweet</key>
<value>
    <name>tweet</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>tweet</key>
<value>${twitter.lang:equals("en")}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>tweet</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>6ffbb1f4-3e29-3270-0000-000000000000</id>
                    <parentGroupId>40f2c389-66d0-3595-0000-000000000000</parentGroupId>
                    <position>
                        <x>871.8219890783773</x>
                        <y>289.42904316825843</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.6.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>ERROR</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>twitter.msg</key>
<value>
    <name>twitter.msg</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>twitter.lang</key>
<value>
    <name>twitter.lang</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>twitter.msg</key>
<value>$.text</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>twitter.lang</key>
<value>$.lang</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                        </properties>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Pull Key Attributes</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
            </contents>
            <name>Get Tweet Json</name>
            <variables/>
        </processGroups>
        <processors>
            <id>495c3469-9992-37db-0000-000000000000</id>
            <parentGroupId>c740f42c-4250-3014-0000-000000000000</parentGroupId>
            <position>
                <x>623.8580525876034</x>
                <y>13.308846549454074</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Max Attribute Length</key>
                        <value>
                            <name>Max Attribute Length</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Command Path</key>
                        <value>
                            <name>Command Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Working Directory</key>
                        <value>
                            <name>Working Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Output Destination Attribute</key>
                        <value>
                            <name>Output Destination Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Argument Delimiter</key>
                        <value>
                            <name>Argument Delimiter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore STDIN</key>
                        <value>
                            <name>Ignore STDIN</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Command Arguments</key>
                        <value>
                            <name>Command Arguments</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Max Attribute Length</key>
                        <value>256</value>
                    </entry>
                    <entry>
                        <key>Command Path</key>
                        <value>/home/nandu/twitter/runthis.sh</value>
                    </entry>
                    <entry>
                        <key>Working Directory</key>
                        <value>/home/nandu/anaconda3/lib/python3.6/site-packages</value>
                    </entry>
                    <entry>
                        <key>Output Destination Attribute</key>
                        <value>sentiment</value>
                    </entry>
                    <entry>
                        <key>Argument Delimiter</key>
                        <value>;</value>
                    </entry>
                    <entry>
                        <key>Ignore STDIN</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Command Arguments</key>
                        <value>${tweet2}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>5 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>ExecuteStreamCommand</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
        </processors>
    </snippet>
    <timestamp>06/14/2018 09:54:54 IST</timestamp>
</template>
